@model IEnumerable<SQIndustryThree.Models.CourierRequestModel>
<style>
    #IourequestTable tr th, #IourequestTable tr td {
        text-align: center;
        padding: 5px;
    }

    button {
        padding: 0;
    }
</style>
<div class="box">
    <h3 style="text-align:center">My Courier Dispatch List</h3>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="col-xs-12" id="personlocdiv" style="overflow:scroll;">
            <table id="VisitorRequestTable" class="table-bordered table table-striped" width="100%" style="overflow:scroll">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>Dispatch No #</th>
                        <th>Courier No #</th>
                        <th>Post Code</th>
                        <th>Country</th>
                        <th>Courier</th>
                        <th>Dispatch Date</th>
                        <th>Consolidate Weight</th>
                        <th>Consolidate Cost</th>
                        <th>Airway Bill no</th>
                        <th>Reference No</th>
                        <th>Remarks</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int count = 1;}
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@count</td>
                        <td>@item.CourierDispatchNo</td>
                        <td>@item.CourierNumber</td>
                        <td>@item.PostCode</td>
                        <td>@item.Country</td>
                        <td>@item.Courier</td>
                        <td>@item.DispatchDate</td>
                        <td>@item.ConsolidateWeight</td>
                        <td>@item.ConsolidateCost</td>
                        <td>@item.AirwayBillno</td>
                        <td>@item.ReferenceNo</td>
                        <td>@item.Remarks</td>
                        <td> <button type="button" class="btn  btn-block btn-primary btn-sm" data-toggle="modal" data-target="#myModal" onclick="CourierDispatchDetails(@item.CourierDispatchNo,'_modalDispatchDetailsView',0)" data-idkey="@item.CourierDispatchNo">Details(@item.Pending)</button></td>
                    </tr>
                        count++;

                    }
                </tbody>

            </table>
        </div>
    </div>
    <!-- /.box-body -->
</div>
