@model IEnumerable<SQIndustryThree.Models.CapexInformationMaster>
@{
    ViewBag.Title = "_pertialCapexForAdmin";
}
<div class="box">
    <!-- /.box-header -->
    <div class="box-body">
        @{ double budeget = 0;}
        @foreach (var item in Model)
        {
            budeget += item.Cost;
        }
        <h5>Total Approved : <span style="color:red">@Model.Count()</span> </h5>
        <h5>Total Cost : <span style="color:red">@budeget.ToString("N")</span> </h5>
        <div class="col-xs-12" id="personlocdiv">
            <table id="capexshowTable" class="table-bordered table table-responsive">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>Capex Number</th>
                        <th>Capex Name</th>
                        <th>Business Unit</th>
                        <th>Approved Date</th>
                        <th>Capex Catagory</th>
                        <th>Created By</th>
                        <th>Cost</th>
                        <th>Action</th>
                    </tr>
                </thead>
                @if (Model != null)
                {
                    <tbody>
                        @{ int count = 1;}
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@count</td>
                                <td>@item.CapexInfoId</td>
                                <td>@item.CapexName</td>
                                <td>@item.BusinessUnitName</td>
                                <td>@item.CapexCreateDate.ToString("dd MMM yyyy")</td>
                                <td>@item.CapexCatagoryName</td>
                                <td>@item.UserName</td>
                                <td>@item.Cost.ToString("N")</td>
                                <td><button type="button" class="btn  btn-block btn-success" data-toggle="modal" data-target="#showmodal" data-idkey="@item.CapexInfoId">Preview</button></td>
                            </tr>
                            count++;

                        }
                    </tbody>
                }
            </table>
        </div>
    </div>
    <!-- /.box-body -->
</div>
