
@{
    ViewBag.Title = "CreateCapex";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Styles.Render("~/Content/capexform.css")
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<link href="~/Content/LoadingModal.css" rel="stylesheet" />
<style type="text/css">
    .form-control,.btn{
        border-radius:0px;
        
    }
</style>
<div class="container-fluid" style="background-color:white">
    <h2 style="text-align:center"><b>CAPEX APPROVAL FORM</b></h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <label for="business_unit">Business Unit</label>
            <select id="business_unit" name="business_unit" class="form-control"> </select>
        </div>
        <div class="col-md-3">
            <label for="locationCheck">Location</label>
            <select id="locationCheck" name="locationCheck" class="form-control"> </select>
        </div>
        <div class="col-md-3">
            <label for="catagory_caperx">Capex Category</label>
            <select id="catagory_caperx" name="catagory_caperx" class="form-control"> </select>
        </div>
        <div class="col-md-3">
            <label for="project_type">Asset Type</label>
            <select id="project_type" name="project_type" class="form-control" >
                <option>New Asset</option>
                <option>Replacement</option>
                <option>Renovation</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <label for="projectname">Project/Subject Name : </label>
            <input type="text" class="form-control form-inline" id="projectname">
        </div>
        <div class="col-md-4">
            <label for="current_date">Current Date</label>
            <input disabled type="text" id="current_date" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label for="project_description">Description</label>
            <textarea type="text" id="project_description" placeholder="Description" class="form-control"></textarea>
        </div>
    </div>
    <div>
        <div style="margin-top:10px" class="form-group row">
            <div class="col-md-4">
                <label for="assets_description" style="text-align: center">Description Assets</label>
            </div>
            <div class="col-md-4">
                <select id="assetSelect" class="form-control">
                    
                </select>
            </div>
            <div class="col-md-4">
                <label style="float:left;width:30%">Select Currency</label>
                <select id="currency" class="form-control" style="float:left;width:30%">
                </select>
                <button class="btn btn-success btn-sm" style="float:right;width:30%" id="addrow">Add Row</button>
            </div>
        </div>

        <table id="assets_description" class="table order-list">
            <thead>
                <tr>
                    <td>Asset Category</td>
                    <td>Description</td>
                    <td>Qty</td>
                    <td>Unit price</td>
                    <td>Estimated Cost</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @*<td class="col-sm-2">
                            <input type="text" id="asset_catagory" name="asset_catagory" class="form-control" />
                        </td>
                        <td class="col-sm-4">
                            <input type="text" id="asset_description" name="asset_description" class="form-control" />
                        </td>
                        <td class="col-sm-1">
                            <input type="text" id="asse_qty" onchange="calculateGrandTotal()" name="asse_qty" class="form-control" />
                        </td>
                        <td class="col-sm-2">
                            <input type="text" id="asset_unitPrice" onchange="calculateGrandTotal()" name="asset_unitPrice" class="form-control" />
                        </td>
                        <td class="col-sm-2">
                            <input type="text" id="asset_estimated_cost" name="asset_estimated_cost" disabled class="form-control" />
                        </td>
                        <td class="col-sm-1">
                            <a class="deleteRow"></a>
                        </td>*@
                </tr>
            </tbody>
            <tfoot>
                <tr>
                <tr>
                    <td><b>Total</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td id="grandtotal" name="grandtotal"><b>0.0</b></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div>
                <div class="col-md-6">
                    <label for="file_uploaded">Attach Files</label>
                </div>
                <div class="col-md-6">

                </div>
                <br />
                <table id="multiplefile" class="table table-striped">
                    <tr>
                        <td> <input class="form-control" accept="image/jpeg,image/png,application/pdf" type="file" name="file_uploaded" id="file_uploaded" /></td>
                        <td> <button id="add_files" class="btn btn-primary btn-sm">Add Files</button> </td>
                    </tr>
                </table>

            </div>

            <div style="padding:10px" class="box box-default fileList" id="fileList">
            </div>
            <button id="file_uploadButton" class="btn btn-primary btn-sm">Upload</button>
            <!-- <button id="remove_button" class="btn btn-success">Remove Files</button>-->
        </div>
        <div class="col-md-8">
            <label for="approver">Approver</label>
            <Table id="approver" style="text-align:center" class="table table-bordered">
            </Table>
        </div>
    </div>
    <div style="margin-top:20px;margin-bottom:20px;text-align:center" class="row">
        <button class="btn btn-danger" id="cancel_button">Cancel</button>
        <button id="save_button" class="btn btn-info">Next</button>
    </div>

</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" style="text-align:center">Capex Preview</h4>
            </div>
            <div id="modalbody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" id="remove_button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" id="confirmCapexInfo">Submit</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- / Loading modal  -->
<div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="loader"></div>
                <div clas="loader-txt">
                    <p>
                        Please Wait Until The file is Processing....................<br>
                        <br><small>
                            File Uploading ...........................
                            <br />
                            SQ Group Approval Management System
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">

    window.onload = function () {
        GetDate();
        LoadBusinessUnit();
        LoadCapexCatagory();
        LoadCurrency();
        LoadLocation();
    };
    $("#catagory_caperx").change(function () {
        AssetSelect($("#catagory_caperx").val());
    });

    function AssetSelect(catagoryId) {
        $('#assetSelect').css({ "border-color": "#d3d3d3" });
        var urlpath = '@Url.Action("AssetSelect", "CapexApproval")';
        $.ajax({
            url: urlpath,
            dataType: 'json',
            type: "Post",
            data: { CatagoryId: catagoryId },
            async: true,
            success: function (data) {
                $('#assetSelect').empty();
                for (var i = 0; i < data.length; i++) {
                    $("#assetSelect").append($("<option></option>").val(data[i].CapexInfoDetailsId)
                        .html(data[i].CapexAssetCatagory));
                }
            }
        });
    }

    function imagesPreview(input, placeToInsertImagePreview) {
        if (input.files) {
            var filesAmount = input.files.length;
            for (i = 0; i < filesAmount; i++) {
                var reader = new FileReader();
                reader.name = input.files[i].name;
                reader.onload = function (event) {
                    var htmlImage = '<div class="row">';
                    htmlImage = htmlImage + '<p style="float:left" class="" >' + event.target.name+ '</p>';
                       // htmlImage = htmlImage +  '<input style="padding-top:1px;padding-bottom:1px;float:right" class="btn btn-danger" onclick="removeImage($(this))" type="button" value="X" />';
                        htmlImage = htmlImage +  '</div>';
                    $($.parseHTML(htmlImage)).appendTo(placeToInsertImagePreview);
                }
                reader.readAsDataURL(input.files[i]);
            }
        }

    }

     function removeImage(item) {
      //alert(item);
         item.parent().remove();
    }

    $('#file_uploaded').on('change', function() {
        //imagesPreview(this, 'div.fileList');
    });
    $('#file_uploadButton').on('click', function () {
         $("#loadMe").modal({
              backdrop: "static", //remove ability to close modal with click
              keyboard: false, //remove option to close with keyboard
              show: true //Display loader!
            });
         uploadFiles();
     });
    $('#add_files').on('click', function() {
            var newRow = $("<tr>");
            var cols = "";
            cols += '<td><input type="file" accept="image/jpeg,image/png,application/pdf" class="form-control" id="file_uploaded" name="file_uploaded"/></td>';
            cols += '<td><input type="button" class="btn btn-danger delfile"  value="X"></td></tr>';
            newRow.append(cols);
            $("#multiplefile").append(newRow);
     });
    $("#multiplefile").on("click", ".delfile", function (event) {
            $(this).closest("tr").remove();
            calculateGrandTotal();
       //     counter -= 1
         //   $('#add_files').attr('disabled', false).prop('value', "Add Row");
    });
     $('#remove_button').on('click', function() {
         var urlpath = '@Url.Action("DeleteFiles", "CapexApproval")';
        $.ajax({
            url: urlpath,
            dataType: 'json',
            type: "Post",
            data: {},
            async: true,
            success: function (rest) {
                if (rest) {
                    swal({
                        title: 'Please Re upload the files again',
                        type: 'success',
                    });
                }
            }
        });
    });
    function uploadFiles() {
        var fileData = new FormData();
        //var tr = $('#multiplefile').closest('tr');
        //var fup = $('tr').find("input[type='file']");
        //var totalFiles = fup.length;//Here, getting total file count
        //  for (var i = 0; i < totalFiles; i++) {
        //      var file = fup[i].files;//Exception will not occur here
        //      alert(file.name);
        //      fileData.append(file, fup[i].file);
        //   }
        $('#multiplefile tr').each(function () {
            var fileUpload = $(this).find('input[name="file_uploaded"]').prop('files');
            if (fileUpload.length>0) {
                 for (var i = 0; i < fileUpload.length; i++) {
                    fileData.append(fileUpload[i].name, fileUpload[i]);
                 }
            }

            //var files = fileUpload.files;
            //for (var i = 0; i < files.length; i++) {

            //            //fileData.append(files[i].name, files[i]);
            // }
          //fileData.append(fileName,fileUpload);
        });


                // Create  a FormData object


                // if there are multiple files , loop through each files
                //for (var i = 0; i < files.length; i++) {
                //    fileData.append(files[i].name, files[i]);
                //}
                 var urlpath = '@Url.Action("UploadFiles", "CapexApproval")';
        $.ajax({
            url: urlpath,//URL to upload files
            type: "post", //as we will be posting files and other method POST is used
            processData: false, //remember to set processData and ContentType to false, otherwise you may get an error
            contentType: false,
            data: fileData  ,
            success: function (result) {
                        $("#loadMe").modal("hide");
                        swal({
                                title: 'File Uploaded Successfully',
                                type: 'success',
                                closeOnCancel: true
                            });
                    },
                    error: function (err) {
                        alert(err.responseText);
                    }
                });
            }
    $("#save_button").click(function () {
        //SaveCapexApproval();
        modalView();
    });
     $("#confirmCapexInfo").click(function () {
        SaveCapexApproval();
     });
    $("#cancel_button").click(function () {
        window.location.href = '@Url.Action("Index", "Home")';
     });

    function GetDate() {
        var dt = new Date();
        var dd;
        var mm;
        dd = dt.getDate();
        mm = dt.getMonth() + 1;
        document.getElementById('current_date').value = mm + '/' + dd + '/' + dt.getFullYear();

    }
    $(document).ready(function () {
        var counter = 0;

        $("#addrow").on("click", function () {

            counter = $('#myTable tr').length - 2;
            var assetCata = $("#assetSelect").children("option:selected").html();
            var newRow = $("<tr>");
            var cols = "";



            cols += '<td><input type="text" disabled class="form-control"  name="asset_catagory' + counter + '" value="'+assetCata+'" /></td>';
            cols += '<td><input type="text" class="form-control"  name="asset_description' + counter + '"/></td>';
            cols += '<td><input type="text" class="form-control" onchange="calculateGrandTotal()"  name="asse_qty' + counter + '"/></td>';
            cols += '<td><input type="text" class="form-control" onchange="calculateGrandTotal()" name="asset_unitPrice' + counter + '"/></td>';
            cols += '<td><input type="text" class="form-control" disabled name="asset_estimated_cost' + counter + '"/></td>';

            cols += '<td><input type="button" class="btn btn-danger ibtnDel"  value="X"></td>';
            newRow.append(cols);
            if (counter == 4) $('#addrow').attr('disabled', true).prop('value', "You've reached the limit");
            $("table.order-list").append(newRow);
            counter++;
            calculateGrandTotal();
        });

        $("table.order-list").on("change", 'input[name^="asset_estimated_cost"]', function (event) {
            calculateRow($(this).closest("tr"));
            calculateGrandTotal();
        });


        $("table.order-list").on("click", ".ibtnDel", function (event) {
            $(this).closest("tr").remove();
            calculateGrandTotal();

            counter -= 1
            $('#addrow').attr('disabled', false).prop('value', "Add Row");
        });
    });
    function calculateRow(row) {
        var price = +row.find('input[name^="asset_estimated_cost"]').val();
    }
    function calculateGrandTotal() {
        var grandTotal = 0;
        $("#assets_description tr").each(function () {
                var qnty = $(this).find('input[name^="asse_qty"]').val();
                var unitprice = $(this).find('input[name^="asset_unitPrice"]').val();
                $(this).find('input[name^="asset_estimated_cost"]').val(qnty * unitprice);
        });

        $("table.order-list").find('input[name^="asset_estimated_cost"]').each(function () {
            grandTotal += +$(this).val();
        });
        $("#grandtotal").text(grandTotal);
    }
    function LoadBusinessUnit() {
        $('#business_unit').css({ "border-color": "#d3d3d3" });
        var urlpath = '@Url.Action("LoadBusinessUnit", "CapexApproval")';
        $.ajax({
            url: urlpath,
            dataType: 'json',
            type: "Post",
            data: {},
            async: true,
            success: function (data) {
                $('#business_unit').empty();
                $('#business_unit').append("<option value='0'>--Select Business Unit--</option>");
                for (var i = 0; i < data.length; i++) {
                    $("#business_unit").append($("<option></option>").val(data[i].BusinessUnitId)
                        .html(data[i].BusinessUnitName));
                }
            }
        });
    }
    function LoadLocation() {
        $('#locationCheck').css({ "border-color": "#d3d3d3" });
        var urlpath = '@Url.Action("LoadLocation", "CapexApproval")';
        $.ajax({
            url: urlpath,
            dataType: 'json',
            type: "Post",
            data: {},
            async: true,
            success: function (data) {
                $('#locationCheck').empty();
                $('#locationCheck').append("<option value='0'>--Select Location --</option>");
                for (var i = 0; i < data.length; i++) {
                    $("#locationCheck").append($("<option></option>").val(data[i].LocationId)
                        .html(data[i].LocationName));
                }
            }
        });
    }
    function LoadCurrency() {
        $('#currency').css({ "border-color": "#d3d3d3" });
        var urlpath = '@Url.Action("LoadCurrency", "CapexApproval")';
        $.ajax({
            url: urlpath,
            dataType: 'json',
            type: "Post",
            data: {},
            async: true,
            success: function (data) {
                $('#currency').empty();
               $('#currency').append("<option value='0'>--Currency-</option>");
                for (var i = 0; i < data.length; i++) {
                    $("#currency").append($("<option></option>").val(data[i].CurrencyId)
                        .html(data[i].CurrencyName));
                }
            }
        });
    }

    function LoadCapexCatagory() {
        $('#catagory_caperx').css({ "border-color": "#d3d3d3" });
        var urlpath = '@Url.Action("LoadCapexCatagory", "CapexApproval")';
        $.ajax({
            url: urlpath,
            dataType: 'json',
            type: "Post",
            data: {},
            async: true,
            success: function (data) {
                $('#catagory_caperx').empty();
                $('#catagory_caperx').append("<option value='0'>--Select Capex Category--</option>");
                for (var i = 0; i < data.length; i++) {
                    $("#catagory_caperx").append($("<option></option>").val(data[i].CapexCatagoryID)
                        .html(data[i].CapexCatagoryName));
                }
            }
        });
    }
    $('#catagory_caperx').on('change',
        function () {
            $('#catagory_caperx').css({ "border-color": "#d3d3d3" });
            loadCFOBYBusinessUnit();
        });
    $('#business_unit').on('change',
        function () {
            $('#business_unit').css({ "border-color": "#d3d3d3" });
             loadCFOBYBusinessUnit();
        });
    $('#currency').on('change',
        function () {
             $('#currency').css({ "border-color": "#d3d3d3" });
        });
    $('#locationCheck').on('change',
        function () {
             $('#locationCheck').css({ "border-color": "#d3d3d3" });
        });

    $('#projectname').on('click',
        function () {
             $('#projectname').css({ "border-color": "#d3d3d3" });
        });
    $('#project_description').on('click',
        function () {
             $('#project_description').css({ "border-color": "#d3d3d3" });
        });

    function loadCFOBYBusinessUnit() {
        buid = $('#business_unit').val();
        catid = $('#catagory_caperx').val();
        var urlpath = '@Url.Action("LoadBFCORCFOByBusinessUnit", "CapexApproval")';
        $.ajax({
            url: urlpath,
            dataType: 'json',
            type: "Post",
            data: {
                BusinessUnit : buid,
                CatagoryId:catid
            },
            async: true,
            success: function (data) {
                $("#approver").empty();
                 for (var i = 0; i < data.length; i++) {
                    var newRow = $("<tr>");
                     var cols = "";
                     cols += '<td><p>' + data[i].ApproverNo + '</p></td>';
                     cols += '<td><p>' + data[i].UserInformationName + '</p></td>';
                     cols += '<td><p>' + data[i].DesignationName + '</p></td>';
                    newRow.append(cols);
                    $("#approver").append(newRow);
                }
            }
        });
    }

    function loadApprover(id) {
        var urlpath = '@Url.Action("LoadCapexApprover", "CapexApproval")';
        $.ajax({
            url: urlpath,
            dataType: 'json',
            type: "Post",
            data: {CatagoryId:id},
            async: true,
            success: function (data) {
                $('#headOfDepartment').empty();
               $("#headOfDepartment").append($("<p></p>").val(data.UserInformationId)
                        .html(data.UserInformationName));
            }
        });
    }
    function SaveCapexApproval() {
        var valid = false;
        var jsonData = {};
            jsonData["BusinessUnitId"] = $('#business_unit').val();
            jsonData["LocationId"] = $('#locationCheck').val();
            jsonData["BusinessUnitName"] = $('#business_unit').children("option:selected").html();
            jsonData["LocationName"] = $('#locationCheck').children("option:selected").html();
            jsonData["CapexCatagoryID"] = $('#catagory_caperx').val();
            jsonData["CapexCatagoryName"] = $('#catagory_caperx').children("option:selected").html();
            jsonData["CapexAssetType"] = $('#project_type').val();
            jsonData["CapexName"] = $('#projectname').val();
            jsonData["CapexCreateDate"] = $('#current_date').val();
            jsonData["CapexDescription"] = $('#project_description').val();
            jsonData["Currency"] = $('#currency').children("option:selected").html();
            jsonData["CurrencyID"] = $('#currency').val();

            var jsonObj = [];

            $('#assets_description tr').each(function () {
                var myData = {};
                myData["CapexAssetCatagory"] = $(this).find('input[name^="asset_catagory"]').val();
                myData["CapexAssetDescription"] = $(this).find('input[name^="asset_description"]').val();
                myData["CapexDetailsQty"] = $(this).find('input[name^="asse_qty"]').val();
                myData["CapexUnitPrice"] = $(this).find('input[name^="asset_unitPrice"]').val();
                var qty = $(this).find('input[name^="asse_qty"]').val();
                var price = $(this).find('input[name^="asset_unitPrice"]').val();
                myData["CapexEstimatedCost"] = qty * price;
                if (Number.isNaN(myData["CapexEstimatedCost"]) == false && parseFloat(myData["CapexEstimatedCost"]) > 0) {
                    jsonObj.push(myData);
                }
            });
            if (jsonObj.length > 0) {
                valid = true;
            }
            jsonData["CapexInformationDetails"] = jsonObj;
        if (valid == true) {
            var urlpath = '@Url.Action("SaveCapexInformation", "CapexApproval")';
            $.ajax({
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "Post",
                async: true,
                success: function (result) {
                    if (result.isSuccess) {
                        swal({
                                        title: 'Capex Saved Successfully!!',
                                        type: 'success',
                                        closeOnCancel: true
                                    },
                            function () {
                                 window.location.href = '@Url.Action("CapexInformationView", "CapexApproval")';
                                    });
                    }
                }
            });
        } else {
            swal({
                title: 'PLEASE ENTER ALL THE FIELD!!',
                type: 'error',
                closeOnCancel: true
            });
        }

    }
    function modalView() {
            var submit = true;
               var jsonData = {};
            if ($('#business_unit').val() == "0") {
                $('#business_unit').css({ "border-color": "#FF0000" });
                submit = false;
            }else if ($('#locationCheck').val() == "0") {
                $('#locationCheck').css({ "border-color": "#FF0000" });
                submit = false;
            }
            else if ($('#catagory_caperx').val() == "0") {
                $('#catagory_caperx').css({ "border-color": "#FF0000" });
                submit = false;
            } else if ($('#projectname').val().length < 1) {
                $('#projectname').css({ "border-color": "#FF0000" });
                submit = false;
            } else if ($('#project_description').val().length < 1) {
                $('#project_description').css({ "border-color": "#FF0000" });
                submit = false;
            } else if ($('#currency').val() == "0") {
                $('#currency').css({ "border-color": "#FF0000" });
                submit = false;
            }

            jsonData["BusinessUnitId"] = $('#business_unit').val();
            jsonData["BusinessUnitName"] = $('#business_unit').children("option:selected").html();
            jsonData["CapexCatagoryID"] = $('#catagory_caperx').val();
            jsonData["CapexCatagoryName"] = $('#catagory_caperx').children("option:selected").html();
            jsonData["Currency"] = $('#currency').children("option:selected").html();
            jsonData["LocationName"] = $('#locationCheck').children("option:selected").html();

            if ($('#project_type').val() == "others") {
                jsonData["CapexAssetType"] = $('#project_type_others').val();
            } else {
                 jsonData["CapexAssetType"] = $('#project_type').val();
            }

            jsonData["CapexName"] = $('#projectname').val();
            jsonData["CapexCreateDate"] = $('#current_date').val();
            jsonData["CapexDescription"] = $('#project_description').val();

            var jsonObj = [];

            $('#assets_description tr').each(function () {
                var myData = {};
                myData["CapexAssetCatagory"] = $(this).find('input[name^="asset_catagory"]').val();
                myData["CapexAssetDescription"] = $(this).find('input[name^="asset_description"]').val();
                myData["CapexDetailsQty"] = $(this).find('input[name^="asse_qty"]').val();
                myData["CapexUnitPrice"] = $(this).find('input[name^="asset_unitPrice"]').val();

                var qty = $(this).find('input[name^="asse_qty"]').val();
                var price = $(this).find('input[name^="asset_unitPrice"]').val();
                myData["CapexEstimatedCost"] = qty * price;
                if (Number.isNaN(myData["CapexEstimatedCost"]) == false && parseFloat(myData["CapexEstimatedCost"]) > 0) {
                    jsonObj.push(myData);
               }
            });
        jsonData["CapexInformationDetails"] = jsonObj;

        if (submit == true) {
            var urlpath = '@Url.Action("ShowPertialviewModal", "CapexApproval")';
            $.ajax({
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(jsonData),
                url: urlpath,
                type: "POST",
                async: true,
                success: function (data) {
                    $("#modalbody").html("");
                    $("#modalbody").append(data);
                    $("#myModal").modal("show");
                },
                error: function () {
                    alert("Error");
                }
            });
        } else {
            swal({
                title: 'PLEASE ENTER ALL THE FIELD!!',
                type: 'error',
                closeOnCancel: true
            });
        }
    }

</script>