@model SQIndustryThree.Models.IOURequestModel
<style>
    th {
        text-align: left;
    }

    td {
        text-align: left;
    }

    #genaralInfodt tr th, #genaralInfodt tr td, #approverlist tr td, #approverlist tr th {
        text-align: center;
    }

    .form-control, .btn {
        border-radius: 0px;
    }
    #disburseAmmount, #remainingAmmount {
        background:#ffffff;
        width:80%;
        border:none;
    }
</style>
<div class="col-md-12" id="printablearea">
    @if (Model.RivisionNo > 0)
    {
        <p style="color:red;text-align:center;font-weight:bold">Revised  No:  @Model.RivisionNo</p>
    }
    <div>
        <span style="float:left;font-weight:bold;font-size:20px">@Model.BusinessUnitName</span>
        <span style="float:right;font-weight:bold;font-size:20px">IOU Request No: @Model.IouRequestId</span>
    </div>
    <div class="col-md-12">
        @*    @if (Model.IOUApproverList != null)
             {
                <table border="1" width="100%" id="approverlist">
                    <caption>Approver List</caption>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Approver Name</th>
                            <th>Approver Designation</th>
                            <th>Approver Role</th>
                            <th>Update Date</th>
                            <th>Status</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.IOUApproverList)
                        {
                        <tr>
                            <td>@item.ApproverNo</td>
                            <td>@item.UserName</td>
                            <td>@item.DesignationName</td>
                            <td>@item.ApproverStatusName</td>
                            <td>
                                @if (@item.UpdateDate != null)
                                {@DateTime.Parse(@item.UpdateDate).ToString("dd MMM yyyy")}
                            </td>
                            @{
                                if (item.IsApprove == 3)
                                {
                                    <td style="color:red">Disburse</td>
                                }
                                else
                                {
                                    <td style="color:green">Approved</td>
                                }

                            }
                            <td>@item.Comments</td>
                        </tr>

                        }
                    </tbody>
                </table>
              }*@
    </div>
    <div class="col-md-6">
        <table border="1" width="100%">
            <caption>Iou Request</caption>
            <tr>
                <th>Requested By</th>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <th width="30%">Request Date</th>
                <td width="70%">@DateTime.Parse(Model.DateOfRequest).ToString("dd MMM yyyy")</td>
            </tr>
            <tr>
                <th>Location Name</th>
                <td>@Model.LocationName</td>
            </tr>
            <tr>
                <th>Business Unit Name</th>
                <td>@Model.BusinessUnitName</td>
            </tr>
            <tr>
                <th>Department Name</th>
                <td>@Model.DepartmentName</td>
            </tr>
            <tr>
                <th>Required Date</th>
                <td>
                    @if (Model.RequiredDate != null)
                    {@DateTime.Parse(Model.RequiredDate).ToString("dd MMM yyyy")}
                </td>
            </tr>
            <tr>
                <th>Amount</th>
                <td style="word-wrap:break-word">@Model.Ammount.ToString("N") BDT</td>
            </tr>
            <tr>
                <th>Purpose</th>
                <td style="word-wrap:break-word">@Model.Purpose</td>
            </tr>
            <tr>
                <th>Date of Settlement </th>
                <td>
                    @if (Model.SettlementDate != "")
                    {@DateTime.Parse(Model.SettlementDate).ToString("dd MMM yyyy")}
                </td>
            </tr>

        </table>
        <table border="1" width="100%" id="genaralInfodt">
            @{float countFob = 0; int countNum = 0;}
            <caption>Amount Summary</caption>
            <thead>
                <tr>
                    <th>Sl</th>
                    <th>Item Name</th>
                    <th>Remarks</th>
                    <th>Ammount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AmmountList)
                {
                    countNum++;
                    <tr>
                        <td>@countNum</td>
                        <td>@item.ItemName</td>
                        <td>@item.Purpose</td>
                        <td>@item.Ammount.ToString("N")</td>
                    </tr>
                    countFob = countFob + @item.Ammount;
                }
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3">Total </th>
                    <th>BDT @countFob.ToString("N")</th>
                </tr>
            </tfoot>
        </table>
        @if (Model.IOurequestfiles != null)
        {
            <table border="1" width="100%">
                <caption>Attached File</caption>
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.IOurequestfiles)
                    {
                        <tr>
                            <td>@item.CapexFileName</td>
                            <td>@Html.ActionLink("Download", "DownloadFile", "CapexApproval", new { filepath = item.CapexFilePath.ToString(), filename = item.CapexFileName.ToString() }, new { @target = "_blank" })</td>
                        </tr>

                    }
                </tbody>
            </table>
        }
        @if (Model.IsApproved != 0)
        {
            <div>
                <br />
                <table width="100%" align="center">
                    <tr>
                        <td>
                            <button value="Comments" onclick="showComments()" class="btn btn-sm btn-primary">Comments</button>
                        </td>
                        <td style="padding:5px">
                            <select id="reviewComment" class="approvalColumn form-control">
                                <option value="@Model.UserId">@Model.UserName</option>
                                @if (Model.IOUApproverList != null)
                                {
                                    
                                    foreach (var app in Model.IOUApproverList)
                                    {

                                        if (app.IsApprove != 0)
                                        {
                                            if (app.UserID != Convert.ToInt32(Session["SQuserId"].ToString()))
                                            {
                                                <option value="@app.UserID">@app.UserName</option>
                                            }

                                        }

                                    }
                                }

                            </select>
                        </td>
                        <td style="padding:5px">
                            <input type="text" id="reviewMessage" class="approvalColumn form-control" rows="3" style="resize:none" />
                        </td>
                        <td>
                            <button style="text-align:center;align-content:center" class="btn btn-info btn-sm" onclick="ReviewComment(@Model.IouRequestId,1)">Send Review</button>
                        </td>
                    </tr>
                </table>
            </div>
        }
                <div id="comments_section" class="row" style="display:none">
                    <div class="col-md-9" style="overflow-wrap:inherit; overflow-y: auto;height:200px;">
                        <p>Comment Section</p>
                        @if (Model.IouComments != null)
                        {
                            foreach (var app in Model.IouComments)
                            {
                                <hr style="margin:unset;padding:unset;" />
                                <p style="margin:unset;padding:unset" class="media-heading user_name"><strong style="color:blue">@app.ReviewerByName</strong>  To <strong>@app.ReviewerToName</strong></p>
                                <p style="margin:unset;padding:unset">@app.UpdatedBY.ToString("MM/dd/yyyy hh:mm tt")</p>
                                <p style="margin:unset;padding:unset">@app.ReviewMessage</p>
                            }
                        }
                    </div>
                </div>
    </div>
        <div class="col-md-6">
            @{float disburseamnt = 0; int discount = 0;}
            @if (Model.DisburseList != null)
            {
                <table border="1" width="100%" id="genaralInfodt">

                    <caption>Disbursement Summary</caption>
                    <thead>
                        <tr>
                            <th>Sl</th>
                            <th>Disburse Date</th>
                            <th>Remarks</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DisburseList)
                        {
                            discount++;
                            <tr>
                                <td>@discount</td>
                                <td>@item.CreateDate</td>
                                <td>@item.Purpose</td>
                                <td>@item.Ammount.ToString("N")</td>
                            </tr>
                            disburseamnt = disburseamnt + @item.Ammount;
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="3">Total Disburse Amount </th>
                            <th>BDT @disburseamnt.ToString("N")</th>
                        </tr>
                    </tfoot>
                </table>

            }
            @if (Model.IsSettled !=1)
            {
                <table align="center" width="100%">
                    <caption>Disburse Amount </caption>
                    <tr>
                        <td><label>Approved Amount</label></td>
                        <td><input type="number" disabled id="disburseAmmount" value="@Model.Ammount" /> BDT</td>
                    </tr>
                    <tr>
                        @{ float remainAmnt = Model.Ammount - disburseamnt;}
                        <td><label>Total Disburse Amount</label></td>
                        <td><input type="number" disabled id="remainingAmmount" value="@disburseamnt" />BDT</td>
                    </tr>
                    <tr>
                        <td><label>Balance To Disburse(Max)</label></td>
                        <td><input type="number" id="insertdisburse" style="width:100%" value="@remainAmnt" /></td>
                    </tr>
                    <tr>
                        <td><label>Remarks</label></td>
                        <td><textarea type="text" placeholder="Add remarks" id="remaksdisburse" style="width:100%;resize:none" rows="3"></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:center">
                            <br />
                            <input type="button" class="btn btn-success btn-sm" value="Disburse Payment" onclick="SaveDisburseAmmount(@Model.IouRequestId,@remainAmnt)" />
                        </td>
                    </tr>
                </table>
            }

        </div>
    </div>

<div>
    <input type="button" value="Print" onclick="PrintModal()" class="btn btn-sm btn-info" />
</div>
