@model IEnumerable<SQIndustryThree.Models.IOURequestModel>
<style>
    #IourequestTable tr th, #IourequestTable tr td {
        text-align: center;
        padding: 5px;
    }

    button {
        padding: 0;
    }
</style>
<div class="box">
    <h3 style="text-align:center">My IOU Settlement List</h3>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="col-xs-12" id="personlocdiv">
            <table id="IourequestTable" class="table-bordered table table-striped">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>Request #</th>
                        <th>Location Name</th>
                        <th>Business Unit</th>
                        <th>Department Name</th>
                        <th>Approved Amount</th>
                        <th>Disbursed Amount</th>
                        <th>Settlement Date</th>
                        <th>Action(Comments)</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int count = 1;}
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@count</td>
                        <td>@item.IouRequestId</td>
                        <td>@item.LocationName</td>
                        <td>@item.BusinessUnitName</td>
                        <td>@item.DepartmentName</td>
                        <td>@item.Ammount.ToString("N")</td>
                        <td>@item.TotalDisburseAmmount.ToString("N")</td>
                        <td>@DateTime.Parse(@item.SettlementDate).ToString("dd MMM yyyy")</td>
                        @if (item.IsSettled == 3 && item.IsApproved == 1)
                        {
                            <td> <button type="button" class="btn  btn-block btn-success btn-sm" onclick="IOUSettlementRequestForm(@item.IouRequestId,0)">Cash Disbursed(@item.Pending)</button></td>
                        }
                        else
                        {
                            if (item.IsSettledApprove == 3)
                            {
                                <td> <button type="button" class="btn  btn-block btn-primary btn-sm" data-toggle="modal" data-target="#myModal" onclick="IOURequestDetails(@item.IouRequestId,0,'_mySettlementModal')" data-idkey="@item.IouRequestId">Pending(@item.Pending)</button></td>
                            }
                            else if (item.IsSettledApprove == 1)
                            {
                                <td> <button type="button" class="btn  btn-block btn-success btn-sm" data-toggle="modal" data-target="#myModal" onclick="IOURequestDetails(@item.IouRequestId,0,'_mySettlementModal')" data-idkey="@item.IouRequestId">Approved(@item.Pending)</button></td>

                            }
                            else if (item.IsSettledApprove == 2)
                            {
                                <td> <button type="button" class="btn  btn-block btn-danger btn-sm" data-toggle="modal" data-target="#showmodal" onclick="UpdateSettlement(@item.IouRequestId,0)" data-idkey="">Update(0)</button></td>
                            }
                        }
                    </tr>
                        count++;

                    }
                </tbody>

            </table>
        </div>
    </div>
    <!-- /.box-body -->
</div>

